{% extends 'base.html.twig' %}

{% block title %}
	Home |
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Coffe Shop: The wide variety of coffee for you !</h1>

	<div>
		Browse through
		{{ numberOfCoffee }}
		Coffee !

		{% if numberOfCoffee > 40 %}
			<p>
				{# Is this much of coffee enough ? #}
				That is quite a number of Coffee !
			</p>
		{% endif %}
	</div>

	<div>
		<h2>My Coffe Shop</h2>
		<table>
			<tr>
				<th>Name</th>
				<td>
					{{ myCoffee.name|upper }}
				</td>
			</tr>
			<tr>
				<th>Owner</th>
				<td>
					{{ myCoffee.owner }}
				</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>
					{{ myCoffee.status }}
				</td>
			</tr>
		</table>
	</div>

{% endblock %}
