{% extends 'base.html.twig' %}

{% block title %}
	Home |
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1>Coffe Shop: The wide variety of coffee for you !</h1>

	<div>
		Browse through
		{{ coffee|length }}
		Coffee !

		{% if coffee|length > 2 %}
			<p>
				{# Is this much of coffee enough ? #}
				That is quite a number of Coffee !
			</p>
		{% endif %}
	</div>

	<div>
		<h2>My Coffe Shop</h2>
		<table>
			<tr>
				<th>Name</th>
				<td>
					<a href=" {{ path('app_coffee_show', {id: myCoffee.id}) }} ">
						{{ myCoffee.name }}
					</a>
				</td>
			</tr>
			<tr>
				<th>Origin</th>
				<td>
					{{ myCoffee.origin }}
				</td>
			</tr>
			<tr>
				<th>Notes</th>
				<td>
					{{ myCoffee.notes }}
				</td>
			</tr>
		</table>
	</div>

{% endblock %}
